html {
	width: 100%;
	height: 100%;
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	margin: 0;
}
#splash {
	text-align: center;
}
p.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
button {
	padding: 10px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	background-color: blue;
}
button#restart {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 72px;
}
#stage {
	z-index: 1;
	background: #e5e5e5;
}
#stage.gameover:hover {
	cursor: default;
}
.nodisplay {
	display: none !important;
}